header {
  background:  #37475A;
  color: ivory;
  line-height: 2em;
  font-size: 1.5em;
}

main {
  margin: 1.5em 1em;
  min-height: calc(100vh - 140px);

  ul {
      list-style-type: none;
      max-width: 1200px;

      li {
          background: #eee;
          line-height: 1.6em;
          margin: .5em;
          padding: .5em;
      }
      
          details {
              summary {
                  display:flex;
                  flex-direction:row;
                  justify-content: space-between;

                  span {
                    margin-right: 3em;
                  }

                }
              section {
                  background: #ccc;
                  span {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      padding:.1m .2em;
                      margin-right: 20px;
                      &:hover {
                          background: rgb(121, 177, 255);
                      }
                  }
              }
          }
      }
  }

img {
  width: 200px;
  height: 200px;
}

footer {
  background: #37475A;
  color: ivory;
  line-height: 5em;
}

.footerfix {
  min-height: calc(100vh - 140px)
}

.push {
  margin-left: auto;
  padding: 0px, 30px;
}

.userdata {
  font-size: 15px;
  font-weight: 800;
  color: blue;
}

button {
  margin: 0px, 30px;

}

.status-Available {
    background-color:rgb(86, 86, 245);
    color: white;

}
.status-Assigned {
    background-color:rgb(236, 204, 144);
    color: black;

}
.status-Accepted {
    background-color:#80ff80;
    color: black;

}
.status-Finished {
    background-color:grey;
    color: white;
}